@model SCore.WEB.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:80vh">
            <div class="col-4">
                <h4>Register new user:</h4>
                <div class="card">
                    <div class="card-body">
                        <form asp-controller="Account" asp-action="Register" method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <div>
                                <label asp-for="Name"></label><br />
                                <input asp-for="Name" />
                                <span asp-validation-for="Name"></span>
                            </div>
                            <div>
                                <label asp-for="LastName"></label><br />
                                <input asp-for="LastName" />
                                <span asp-validation-for="LastName"></span>
                            </div>
                            <div>
                                <label asp-for="Email"></label><br />
                                <input asp-for="Email" />
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div>
                                <label asp-for="Password"></label><br />
                                <input asp-for="Password" />
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div>
                                <label asp-for="PasswordConfirm"></label><br />
                                <input asp-for="PasswordConfirm" />
                                <span asp-validation-for="PasswordConfirm"></span>
                            </div>
                            <div>
                                <label asp-for="Avatar"></label><br />
                                <input asp-for="Avatar" />
                                <span asp-validation-for="Avatar"></span>
                            </div>
                            <div style="margin-top:25px">
                                <input type="submit" value="Register" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>


