@model IEnumerable<SCore.Models.Order>
@{
    ViewBag.Title = "FindData";
}

<h4>Report</h4>

<form asp-action="FindData">
    <div class="row input-group">
        <input type="text" name="search" id="search" class="form-control" />
        <div class="input-group-btn">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>

</form>
<form method="post" action="" style="margin-top:25px">
    <input type="date" value="from" name="from" />
    <input type="date" value="to" name="to" />
    <input type="submit" value="Отправить" />
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfOrder)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfOrder)
            </td>
            <td></td>
        </tr>
    }
    <a class="btn btn-outline-primary" asp-action="ExportToExcel" asp-controller="Home">
        Export
    </a>
</table>